<form class="ui stacked segment form" action="/dashboard/addtanda" method="POST" enctype="multipart/form-data">
  <div class="two fields">
    <div class="field">
      <label for ="title">Title of tanda</label>
      <input placeholder="Title of tanda" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Image</label>
      <input placeholder="Image" type="file" name="picture" required>
    </div>
  </div>

  <button class="submit button">Add Tanda</button>
</form>
