<nav class="ui menu" id = "sectionGrey">
  <header class="ui header item"> <a href="/start">Tanda App </a></header>
    <a href ="https://radiotangouno.pl/en/" target="_blank">
      <span class="vinyl"><img src="https://cdn.glitch.global/bb9754f1-c217-43d5-856d-7e1e098bf458/turntable.png?v=1682816070763"></span>
    </a>
    <div class="right menu">
    <span class="name">{{fullname}}</span>
    <span class="profilepic"><img src="{{picture}}" class="ui avatar image"></span>
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>
<script>
   document.querySelector("#{{id}}").classList.add("active");
</script>