{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The tango playlist app team: 
  </h2>

  <div class="ui centered cards">
    
    {{#each rk_Developers}}
      {{> card}}
    {{/each}}
  </div>
  <div class="ui center aligned middle aligned segment" style="padding: 5px; margin: 4% 10.5%;">
     <img class="ui image centre aligned middle" src="https://cdn.glitch.global/6a84aafb-55d5-4ef0-89b3-6ec18dd40633/locationSETU.jpg?v=1679318157797">
  </div>
 </section>