{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The tango playlist app team: 
  </h2>

  <div class="ui centered cards">
    
    {{#each rk_Developers}}
      {{> card}}
    {{/each}}
  </div>
    <a href ="https://www.google.com/maps/dir//School+of+Computing,+Walton+Building,+Waterford+Institute+of+Technology,+Cork+Rd,+Waterford/@52.2448372,-7.1411231,17z/data=!4m12!1m2!2m1!1sSETU+wolton+building!4m8!1m0!1m5!1m1!1s0x4842c4139f6aaaab:0xdf38c3e9f2f2103f!2m2!1d-7.1372393!2d52.2457425!3e3">
      <div class="ui center aligned middle aligned segment" style="padding: 5px; margin: 4% 10.5%;">
         <img class="ui image centre aligned middle" src="https://cdn.glitch.global/6a84aafb-55d5-4ef0-89b3-6ec18dd40633/locationSETU.jpg?v=1679318157797">
      </div>
    </a>
 </section>