
h1 {
  font-style: italic;
  color: #39138a;
  font-size: 32px;
  align-items: center;
  text-transform: uppercase;
}


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background: linear-gradient(#bf2b06, #ffb88c, #bf2b06);
}
#sectionGrey{
  background: #e6e3e3;
}

img, video {
 /* height: auto; */
  max-width: 100%;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}

#info {
  display: none;
}

#introduction {
  display: none;
}

#tablestats {
  margin-top:2em;
}

#tablestats .red,  #tablestats .blue  {
  border:solid #de6262 2px;
  padding: 0em .5em;
}

.ui.menu .active.item {
  background: lightgrey;
  color: #de6262;
  font-weight: normal;
  box-shadow: none;
}
.name{
  padding-top:20px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}

.profilepic{
  padding-top:15px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}

span.vinyl {
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 10px;
  width: 45px;
  height:45px;

}

div.frontS{
  font-style: italic;
  color: #39138a;
  text-transform: uppercase;
  font-size: 130%;
  width: 1.2em;
  height: 1em;
  font-weight: bold;
  white-space: nowrap;
 }

button {
    border: 2px solid #1486ba;
    border-radius: 8px;
    color: white;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #1486ba; 
    box-sizing: border-box;
    outline: 2px solid #1486ba;
}

button:hover {
    background-color: white;
    color: black;
    outline-width: 2px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


